option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    DB_NAME: acuitycte-db
    DB_USER: acuitycteMaster
    DB_PASSWORD: "6|IvXRFDm?:$EWL23ncAD>rO-pco"
    DB_HOST: acuitycte-db.cdgcoeuw0zdo.us-west-2.rds.amazonaws.com
    DB_PORT: "5432"
    JWT_SECRET: "7b9e4f6a8b9c7d3e4f6a8b9c7d3143e4f6a8b9c7d3e4f6a8b9c7d3e4f6pi"
